In [1]:
import pandas as pd
import numpy as np
import sqlite3

# Create DB File and Connect

In [2]:
# can add STRICT to the end of generating a table to produce a strict adherence to data types

# can use "CHECK(len(loc_id) == 1)"
# can use anything that evaluates to true or false

In [3]:
# Connect to the database. If it does not exist, it will be created
conn = sqlite3.connect('test3.db')
# Create a cursor object. This is how we interact with the database
curs = conn.cursor()


### IMPORTANT!!! ###
# By default, sqlite does not enforce foreign key constraints. 
# According to the documentation, this is for backwards compatibility. You have to turn them on yourself.
curs.execute('PRAGMA foreign_keys=ON;')

## Define and Create TSample

In [4]:
# Define the tables

# If running this more than once, you'll need to drop the table before you can redefine it

curs.execute("DROP TABLE IF EXISTS tSample;")

sql = """
CREATE TABLE tSample (
    sample_id TEXT PRIMARY KEY,
    site_id TEXT,
    collect_date DATETIME
)
;"""
curs.execute(sql)

In [5]:
tsampledf = pd.read_csv('./csv_folder/sample.csv')

In [6]:
# INSERT INTO (column names) VALUES (values to insert)
# The : indicates parameter names.
# They do not need to be the same as the columns we are inserting into, but it helps keep the code clean.
# They are matched up in order. For example, if instead of :lat I called it :x, then :x would be inserted into
# the lat column, since lat is the second column in the list of column names.
sql = """
INSERT INTO tSample (sample_id, site_id, collect_date) VALUES (:sample_id, :site_id, :date)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tsampledf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [7]:
sql = """
CREATE VIEW tSample AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tSample;", conn)

    sample_id site_id collect_date
0      BLDTT0     BLD    6/29/2020
1      BLDTT1     BLD    6/29/2020
2      BLDTT2     BLD    6/29/2020
3      BLDTT3     BLD    6/29/2020
4      BLDTT4     BLD    6/29/2020
..        ...     ...          ...
435     PNR12     PNR     7/5/2021
436     PNR13     PNR     7/5/2021
437     PNR14     PNR     7/5/2021
438     PNR15     PNR     7/5/2021
439     PNR16     PNR     7/5/2021

[440 rows x 3 columns]

## Define and Create TMorphology

In [8]:
tmorphdf = pd.read_csv('./csv_folder/plant_morphology.csv')
tmorphdf.shape

(493, 12)

In [9]:
tmorphdf = tmorphdf.rename(columns={'Ht(cm)': 'plant_ht', '# Leaves': 'num_leaves', 'Length LL (cm)': 'longest_leaf_cm',
                                     'Width LL (cm)': 'widest_leaf_cm', 'Stem Diameter (mm)': 'stem_diam_mm',
                                     '# Inflorescences': 'num_inflores', '# Flowers Per (x2)': 'num_flowers',
                                     'Herbivory': 'herbivory', 'Species': 'species'})
tmorphdf = tmorphdf.drop('date', axis= 1)
tmorphdf = tmorphdf.drop('site_id',  axis = 1)
tmorphdf.head()

,sample_id,species,plant_ht,num_leaves,longest_leaf_cm,widest_leaf_cm,stem_diam_mm,num_inflores,num_flowers,herbivory
0,BLDTT0,NaN,93.3,22,16.5,7.3,10.5,5,"46(1), 53(1)","1=5, 2=1"
1,BLDTT0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BLDTT1,NaN,70.7,14,15.4,7.1,8.9,5,"20(2), 25(5)","1=2, 2=3"
3,BLDTT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BLDTT2,NaN,83.4,18,15.6,7.4,11.9,7,"24(3), 19(4)","1=3, 2=1"

In [10]:
tmorphdf = tmorphdf.drop_duplicates(subset=['sample_id'])
tmorphdf.shape

(440, 10)

In [11]:
# Define the tables

# If running this more than once, you'll need to drop the table before you can redefine it

curs.execute("DROP TABLE IF EXISTS tMorphology;")

sql = """
CREATE TABLE tMorphology (
    sample_id TEXT PRIMARY KEY,
    species TEXT,
    plant_ht REAL,
    num_leaves INTEGER,
    longest_leaf_cm REAL,
    widest_leaf_cm REAL,
    stem_diam_mm REAL,
    num_inflores INTEGER,
    num_flowers INTEGER,
    herbivory TEXT
)
;"""
curs.execute(sql)

# INSERT INTO (column names) VALUES (values to insert)
# The : indicates parameter names.
# They do not need to be the same as the columns we are inserting into, but it helps keep the code clean.
# They are matched up in order. For example, if instead of :lat I called it :x, then :x would be inserted into
# the lat column, since lat is the second column in the list of column names.
sql = """
INSERT INTO tMorphology (sample_id, species, plant_ht, num_leaves,
    longest_leaf_cm, widest_leaf_cm, stem_diam_mm, num_inflores,
    num_flowers, herbivory) VALUES (:sample_id, :species, :plant_ht, :num_leaves,
    :longest_leaf_cm, :widest_leaf_cm, :stem_diam_mm, :num_inflores,
    :num_flowers, :herbivory)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works

# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tmorphdf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

## Create TSoilNutrients

In [12]:
curs.execute("DROP TABLE IF EXISTS tSoilNutrients;")
#Organic Matter % Rate	Estimated Nitrogen Release (lbs/A)	Cation Exchange Capacity (meq/100g)	
#pH	Buffer pH	Phosphorus ppm	Potassium ppm	Calcium ppm	Magnesium ppm	
#Sulfur ppm	Sodium ppm	Zinc ppm	Manganese ppm	Iron ppm	Copper ppm	Boron ppm

sql = """
CREATE TABLE tSoilNutrients (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    OM REAL,
    ENR REAL,
    CEC REAL,
    pH REAL,
    BpH REAL,
    Phosphorus REAL,
    Potassium REAL,
    Calcium REAL,
    Magnesium REAL,
    Sulfur REAL,
    Sodium REAL,
    Zinc REAL,
    Manganese REAL,
    Iron REAL,
    Copper REAL,
    Boron REAL,
    PRIMARY KEY (sample_id)
)
;"""

curs.execute(sql)

In [27]:
tsoilnutrientdf = pd.read_csv('./csv_folder/soil_nutrients.csv')
tsoilnutrientdf.shape

(423, 18)

In [28]:
tsoilnutrientdf = tsoilnutrientdf.drop('site', axis = 1)

In [29]:
tsoilnutrientdf = tsoilnutrientdf.drop_duplicates('sample_id')

In [30]:
tsoilnutrientdf.tail()

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron
418,PNR13,5.8,142,20.4,7.7,6.93,21,78,3777,155,12,13,3.7,98,92,1.1,1.1
419,PNR14,4.2,110,22.3,7.6,6.93,9,45,4217,131,9,13,2.1,36,156,1.2,0.5
420,PNR15,3.6,98,18.7,7.7,6.93,8,42,3472,143,13,13,2.5,51,135,1.2,0.7
421,PNR8,3.7,100,17.9,7.6,6.93,12,37,3335,124,9,14,1.5,35,59,0.7,0.5
422,PNR9,3.7,100,18.7,7.5,6.93,18,48,3457,147,7,13,1.6,39,62,0.8,0.7

In [31]:
soil_list = tsoilnutrientdf['sample_id'].tolist()
temp_list = []
for i in soil_list:
    if i[0] == '8':
        temp_list.append(i)

for i in temp_list:
    tsoilnutrientdf.drop(tsoilnutrientdf[(tsoilnutrientdf['sample_id'] == i)].index, inplace=True)
    tsoilnutrientdf.drop(tsoilnutrientdf[(tsoilnutrientdf['sample_id'] == 'BLDRV1-')].index, inplace=True)
    tsoilnutrientdf.drop_duplicates(subset="sample_id",
                             keep='first', inplace=True)
soil_list = tsoilnutrientdf['sample_id'].tolist()
for i in range(len(soil_list)):
    if soil_list[i][0] == '1':
        soil_list[i] = soil_list[i][1:]
    if soil_list[i][0] == ' ':
        soil_list[i] = soil_list[i][1:]
print(len(soil_list))

368

In [33]:
tsoilnutrientdf['sample_id'] = soil_list
tsoilnutrientdf.tail()

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron
418,PNR13,5.8,142,20.4,7.7,6.93,21,78,3777,155,12,13,3.7,98,92,1.1,1.1
419,PNR14,4.2,110,22.3,7.6,6.93,9,45,4217,131,9,13,2.1,36,156,1.2,0.5
420,PNR15,3.6,98,18.7,7.7,6.93,8,42,3472,143,13,13,2.5,51,135,1.2,0.7
421,PNR8,3.7,100,17.9,7.6,6.93,12,37,3335,124,9,14,1.5,35,59,0.7,0.5
422,PNR9,3.7,100,18.7,7.5,6.93,18,48,3457,147,7,13,1.6,39,62,0.8,0.7

In [35]:
# INSERT INTO (column names) VALUES (values to insert)
# The : indicates parameter names.
# They do not need to be the same as the columns we are inserting into, but it helps keep the code clean.
# They are matched up in order. For example, if instead of :lat I called it :x, then :x would be inserted into
# the lat column, since lat is the second column in the list of column names.
sql = """
INSERT INTO tSoilNutrients (sample_id, OM, ENR, CEC, pH, BpH,
    Phosphorus, Potassium, Calcium, Magnesium, Sulfur, Sodium,
    Zinc, Manganese, Iron, Copper, Boron) VALUES (:sample_id, :OM, :ENR, :CEC, :pH, :BpH,
    :Phosphorus, :Potassium, :Calcium, :Magnesium, :Sulfur, :Sodium,
    :Zinc, :Manganese, :Iron, :Copper, :Boron)
;"""


# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tsoilnutrientdf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [36]:
sql = """
CREATE VIEW tSoilNutrients AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tSoilNutrients;", conn)

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron
0,BLDTT0,4.3,124.0,8.1,6.8,6.91,18.0,180.0,1193.0,178.0,3.0,7.0,2.3,321.0,78.0,1.5,0.5
1,BLDTT11,4.7,135.0,6.6,6.0,6.83,22.0,195.0,781.0,138.0,5.0,9.0,1.9,85.0,76.0,1.0,0.4
2,BLDTT12,4.6,133.0,6.6,6.1,6.84,23.0,266.0,770.0,131.0,5.0,9.0,1.6,78.0,82.0,0.9,0.3
3,BLDTT13,4.9,138.0,6.8,6.1,6.84,24.0,270.0,741.0,175.0,1.0,9.0,2.2,76.0,80.0,1.1,0.3
4,BLDTT14,5.4,148.0,7.3,5.8,6.79,32.0,229.0,766.0,172.0,8.0,9.0,2.6,64.0,87.0,1.0,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,PNR13,5.8,142.0,20.4,7.7,6.93,21.0,78.0,3777.0,155.0,12.0,13.0,3.7,98.0,92.0,1.1,1.1
364,PNR14,4.2,110.0,22.3,7.6,6.93,9.0,45.0,4217.0,131.0,9.0,13.0,2.1,36.0,156.0,1.2,0.5
365,PNR15,3.6,98.0,18.7,7.7,6.93,8.0,42.0,3472.0,143.0,13.0,13.0,2.5,51.0,135.0,1.2,0.7
366,PNR8,3.7,100.0,17.9,7.6,6.93,12.0,37.0,3335.0,124.0,9.0,14.0,1.5,35.0,59.0,0.7,0.5
367,PNR9,3.7,100.0,18.7,7.5,6.93,18.0,48.0,3457.0,147.0,7.0,13.0,1.6,39.0,62.0,0.8,0.7

## Create and fill table TPlantNutrients

In [43]:
curs.execute("DROP TABLE IF EXISTS tPlantNutrients;")


sql = """
CREATE TABLE tPlantNutrients (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    N_percent_dm REAL,
    P_percent_dm REAL,
    K_percent_dm REAL,
    Ca_percent_dm REAL,
    Mg_percent_dm REAL,
    Na_percent_dm REAL,
    S_percent_dm REAL,
    Zn_ppm_dm REAL,
    Mn_ppm_dm REAL,
    Fe_ppm_dm REAL,
    Cu_ppm_dm REAL,
    B_ppm_dm REAL,
    Al_ppm_dm REAL,
    PRIMARY KEY (sample_id)
)
;"""
curs.execute(sql)

In [44]:
tleafnutrientdf = pd.read_csv('./csv_folder/leaf_nutrients.csv')

In [48]:
tleafnutrientdf.shape

(223, 14)

In [46]:

sql = """
INSERT INTO tPlantNutrients (sample_id, N_percent_dm, P_percent_dm, K_percent_dm, Ca_percent_dm, 
Mg_percent_dm, Na_percent_dm, S_percent_dm, Zn_ppm_dm, Mn_ppm_dm, Fe_ppm_dm, Cu_ppm_dm, B_ppm_dm, Al_ppm_dm)
VALUES (:Sample_ID, :N_percent_dm, :P_percent_dm, :K_percent_dm, :Ca_percent_dm, 
:Mg_percent_dm, :Na_percent_dm, :S_percent_dm, :Zn_ppm_dm, :Mn_ppm_dm, :Fe_ppm_dm, :Cu_ppm_dm, :B_ppm_dm, :Al_ppm_dm)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tleafnutrientdf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [47]:
sql = """
CREATE VIEW tPlantNutrients AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tPlantNutrients;", conn)

,sample_id,N_percent_dm,P_percent_dm,K_percent_dm,Ca_percent_dm,Mg_percent_dm,Na_percent_dm,S_percent_dm,Zn_ppm_dm,Mn_ppm_dm,Fe_ppm_dm,Cu_ppm_dm,B_ppm_dm,Al_ppm_dm
0,RRL1,NaN,0.21,4.01,0.83,0.29,0.01,0.37,29.0,281.0,234.0,8.0,24.0,130.0
1,RRL2,2.24,0.16,5.34,1.05,0.32,0.01,0.29,20.0,423.0,76.0,5.0,27.0,36.0
2,RRL3,NaN,0.20,4.75,0.63,0.27,0.04,0.22,21.0,469.0,68.0,5.0,32.0,18.0
3,RRL4,NaN,0.18,4.74,1.25,0.32,0.01,0.28,18.0,680.0,78.0,6.0,36.0,27.0
4,RRL5,3.00,0.26,3.51,1.20,0.44,0.01,0.29,29.0,507.0,66.0,7.0,23.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,PNR11,3.34,0.48,3.56,1.50,0.36,0.01,0.28,24.0,90.0,53.0,14.0,33.0,18.0
219,PNR13,1.91,0.21,1.55,2.33,0.55,0.01,0.35,13.0,39.0,103.0,5.0,21.0,40.0
220,PNR14,2.91,0.24,2.32,2.03,0.53,0.08,0.32,14.0,71.0,67.0,6.0,25.0,21.0
221,PNR15,2.72,0.22,2.13,2.40,0.60,0.06,0.38,12.0,30.0,50.0,6.0,34.0,26.0
222,PNR16,2.00,0.20,1.48,2.89,0.71,0.01,0.45,16.0,38.0,48.0,4.0,28.0,17.0

## Create and Fill Soil Micro Table

In [56]:
curs.execute("DROP TABLE IF EXISTS tSoilMicrobeGenera;")

sql = """
CREATE TABLE tSoilMicrobeGenera (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    genera REAL,
    relative_abundance REAL,
    PRIMARY KEY (sample_id, genera)
)
;"""
curs.execute(sql)

In [57]:
tsoilmicrobe = pd.read_csv('./csv_folder/final_soil_microbe.csv')

In [58]:
sql = """
INSERT INTO tSoilMicrobeGenera (sample_id, genera, relative_abundance)
VALUES (:sample_id, :genera, :relative_abundance)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tsoilmicrobe.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

IntegrityError: FOREIGN KEY constraint failed

In [32]:
sql = """
CREATE VIEW tMorphology AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tMorphology;", conn)

,sample_id,species,plant_ht,num_leaves,longest_leaf_cm,widest_leaf_cm,stem_diam_mm,num_inflores,num_flowers,herbivory
0,BLDTT0,None,93.3,22,16.5,7.3,10.5,5,"46(1), 53(1)","1=5, 2=1"
1,BLDTT1,None,70.7,14,15.4,7.1,8.9,5,"20(2), 25(5)","1=2, 2=3"
2,BLDTT2,None,83.4,18,15.6,7.4,11.9,7,"24(3), 19(4)","1=3, 2=1"
3,BLDTT3,None,44.9,9,7.5,3.6,3.6,0,None,"1=3, 2=5"
4,BLDTT4,None,78.8,17,13.9,7.2,10.5,3,"21(5), 26(2)","1=3, 2=2"
5,BLDTT5,None,49.4,10,8.5,4.3,5.4,0,None,"1=2, 2=4"
6,BLDTT6,None,70.4,16,11.6,5.6,6.7,0,None,"1=9, 2=4, 3=1"
7,BLDTT7,None,40.1,1,5.1,3.4,6.8,0,None,2=1
8,BLDTT8,None,41.8,6,6.3,3.3,4.4,0,None,"1=1, 2=3"
9,BLDTT9,None,59.9,15,11.2,5.9,8.7,0,None,"1=6, 2=5"
10,BLDTT10,None,37.6,8,7.5,3.3,3.3,0,None,"1=2, 2=2, 3=1"
11,BLDTT11,None,67.1,14,10.4,5.7,7.3,2,"NA(7), 2(6)","1=3, 2=2"
12,BLDTT12,None,39.9,8,8.2,3.9,5.0,0,None,"1=3, 2=5"
13,BLDTT13,None,39.1,12,11.8,5.3,7.6,0,None,"1=1, 2=5"
14,BLDTT14,None,26.4,10,9.8,4.1,4.5,0,None,"1=4, 2=3, 3=1, 4=1"
15,BLDTT15,None,69.8,16,13.8,6.5,13.5,4,"62(1), 58(1)","1=2, 2=2"
16,BLDTT16,None,53.5,16,13.1,6.2,8.5,2,"5(0), 65(0)","1=3, 2=2"
17,BLDTT17,None,57.4,15,12.6,5.7,8.4,2,"61(1), 57(0)",2=2
18,BLDTT18,None,42.9,10,10,7.5,6.4,0,None,"1=6, 2=3"
19,BLDTT19,None,75.8,17,15,7.0,14.0,5,"61(5), 57(5)","1=3, 2=1"
20,BLDTT20,None,65.6,16,14.6,6.9,13.0,6,"50(1), 61(1)",1=3
21,BLDTT21,None,31.1,11,11,4.2,5.4,0,None,"1=3, 2=1"
22,BLDTT22,None,66.8,18,14.6,6.8,10.7,4,"45(5), 48(2)","1=1, 2=1"
23,BLDTT23,None,39.4,11,10.2,3.9,7.4,0,None,1=1
24,BLDTT24,None,76.2,22,16.4,8.0,12.7,5,"51(5), 53(1)","1=2, 2=2"
25,BLDTT25,None,61.3,18,12.8,7.5,16.1,3,"65(0), 58(0)","1=2, 2=2"
26,BLDTT26,None,34.1,13,10,4.1,4.0,0,None,"1=2, 2=3"
27,BLDTT27,None,45.5,19,11.7,4.1,6.0,0,None,1=4
28,BLDTT28,None,49.2,13,12.4,5.6,6.8,3,"47(2), 13(1)","1=5, 2=1"
29,BLDTT29,None,72.5,18,13.5,5.5,9.4,5,"54(5), 41(3)",1=3
...,...,...,...,...,...,...,...,...,...,...
410,RF10,syriaca,112.0,26,None,NaN,14.0,5,None,none
411,RF11,syriaca,103.0,22,None,NaN,12.0,1,None,none
412,RF12,syriaca,103.0,19,None,NaN,9.0,4,None,none
413,RF13,exaltata,92.0,[nothing listed],None,NaN,7.0,4,None,1=1
414,TCP1,syriaca,NaN,None,None,NaN,NaN,None,None,None
415,TCP2,syriaca,NaN,None,None,NaN,NaN,None,None,None
416,TCP3,syriaca,NaN,None,None,NaN,NaN,None,None,None
417,TCP4,syriaca,NaN,None,None,NaN,NaN,None,None,None
418,TCP5,syriaca,NaN,None,None,NaN,NaN,None,None,None
419,TCP6,syriaca,NaN,None,None,NaN,NaN,None,None,None
420,TCP7,syriaca,NaN,None,None,NaN,NaN,None,None,None
421,TCP8,syriaca,NaN,None,None,NaN,NaN,None,None,None
422,TCP9,syriaca,NaN,None,None,NaN,NaN,None,None,None
423,TCP10,syriaca,NaN,None,None,NaN,NaN,None,None,None
424,PNR1,syriaca,104.0,17,None,NaN,9.0,0,None,1=2
425,PNR2,hybrid,114.0,17,None,NaN,12.0,1,None,1=1
426,PNR3,syriaca,96.0,19,None,NaN,10.0,0,None,none
427,PNR4,hybrid,101.0,20,None,NaN,9.0,0,None,none
428,PNR5,syriaca,123.0,20,None,NaN,11.0,1,None,1=1
429,PNR6,hybrid,135.0,20,None,NaN,13.0,2,None,none
430,PNR7,hybrid,148.0,19,None,NaN,14.0,3,None,none
431,PNR8,hybrid,132.0,22,None,NaN,11.0,1,None,none
432,PNR9,hybrid,149.0,19,None,NaN,15.0,3,None,none
433,PNR10,None,NaN,None,None,NaN,NaN,None,None,None
434,PNR11,hybrid,145.0,19,None,NaN,12.0,2,None,none
435,PNR12,None,NaN,None,None,NaN,NaN,None,None,None
436,PNR13,syriaca,144.0,22,None,NaN,8.0,5,None,none
437,PNR14,hybrid,150.0,14,None,NaN,9.0,6,None,none
438,PNR15,syriaca,146.0,13,None,NaN,9.0,5,None,none
439,PNR16,syriaca,172.0,24,None,NaN,11.0,4,None,none

In [4]:
plant_micro = pd.read_csv('./csv_folder/plant_microbe_phylum.csv')

In [16]:
plant_micro.head()

,Unnamed: 0,sample_id,Site,Archaea|Crenarchaeota,Archaea|Euryarchaeota,Archaea|Thaumarchaeota,Bacteria|Abditibacteriota,Bacteria|Acidobacteria,Bacteria|Actinobacteria,Bacteria|Aquificae,...,Eukaryota|Bacillariophyta,Eukaryota|Basidiomycota,Eukaryota|Blastocladiomycota,Eukaryota|Chlorophyta,Eukaryota|Chytridiomycota,Eukaryota|Cryptomycota,Eukaryota|Microsporidia,Eukaryota|Mucoromycota,Eukaryota|Streptophyta,Eukaryota|Zoopagomycota
0,0,RRL1,RRL,0.0,0.17797,0.0,0.0,0.08643,4.71047,0.14310,...,0.00033,0.09698,0.0,0.04030,0.0,0.00016,0.00073,0.00599,0.0,0.0
1,1,RRL2,RRL,0.0,0.15614,0.0,0.0,0.00198,4.87482,0.20014,...,0.00050,0.06678,0.0,0.02993,0.0,0.00051,0.00049,0.00390,0.0,0.0
2,2,RRL3,RRL,0.0,0.17023,0.0,0.0,0.08687,3.52737,0.10634,...,0.00045,0.07855,0.0,0.03326,0.0,0.00032,0.00040,0.00311,0.0,0.0
3,3,RRL4,RRL,0.0,0.15893,0.0,0.0,0.05855,4.61111,0.11605,...,0.00026,0.06440,0.0,0.03055,0.0,0.00055,0.00039,0.00539,0.0,0.0
4,4,RRL5,RRL,0.0,0.14098,0.0,0.0,0.00024,3.05559,0.13950,...,0.00027,0.03485,0.0,0.02211,0.0,0.00023,0.00049,0.00220,0.0,0.0

In [15]:
import pandas as pd

# my_data = pd.read_csv("my_input_file.csv")
my_data = plant_micro

curs.execute("DROP TABLE IF EXISTS my_table;")

## connect to database
import sqlite3

conn = sqlite3.connect("test1.db")

##push the dataframe to sql 
#my_data.to_sql("my_data", conn, if_exists="replace")

my_data.to_sql("my_data", conn, if_exists="replace")


##create the table

conn.execute(
    """
    create table my_table as 
    select * from my_data
    """)

OperationalError: database is locked

In [11]:
# In case it already exists:
#curs.execute("DROP VIEW IF EXISTS tSample;")


sql = """
CREATE VIEW my_table AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM my_table;", conn)

,index,Unnamed: 0,sample_id,Site,Archaea|Crenarchaeota,Archaea|Euryarchaeota,Archaea|Thaumarchaeota,Bacteria|Abditibacteriota,Bacteria|Acidobacteria,Bacteria|Actinobacteria,...,Eukaryota|Bacillariophyta,Eukaryota|Basidiomycota,Eukaryota|Blastocladiomycota,Eukaryota|Chlorophyta,Eukaryota|Chytridiomycota,Eukaryota|Cryptomycota,Eukaryota|Microsporidia,Eukaryota|Mucoromycota,Eukaryota|Streptophyta,Eukaryota|Zoopagomycota
0,0,0,RRL1,RRL,0.0,0.17797,0.0,0.0,0.08643,4.71047,...,0.00033,0.09698,0.0,0.04030,0.00000,0.00016,0.00073,0.00599,0.00000,0.00000
1,1,1,RRL2,RRL,0.0,0.15614,0.0,0.0,0.00198,4.87482,...,0.00050,0.06678,0.0,0.02993,0.00000,0.00051,0.00049,0.00390,0.00000,0.00000
2,2,2,RRL3,RRL,0.0,0.17023,0.0,0.0,0.08687,3.52737,...,0.00045,0.07855,0.0,0.03326,0.00000,0.00032,0.00040,0.00311,0.00000,0.00000
3,3,3,RRL4,RRL,0.0,0.15893,0.0,0.0,0.05855,4.61111,...,0.00026,0.06440,0.0,0.03055,0.00000,0.00055,0.00039,0.00539,0.00000,0.00000
4,4,4,RRL5,RRL,0.0,0.14098,0.0,0.0,0.00024,3.05559,...,0.00027,0.03485,0.0,0.02211,0.00000,0.00023,0.00049,0.00220,0.00000,0.00000
5,5,5,RRL6,RRL,0.0,0.19020,0.0,0.0,0.08300,4.35181,...,0.00039,0.06259,0.0,0.03635,0.00000,0.00436,0.00095,0.00371,0.00000,0.00000
6,6,6,RRL7,RRL,0.0,0.20571,0.0,0.0,0.09393,8.44138,...,0.00053,0.09069,0.0,0.03248,0.00015,0.00109,0.00097,0.00773,0.00000,0.00058
7,7,7,RRL8,RRL,0.0,0.16870,0.0,0.0,0.00000,5.17185,...,0.00061,0.04317,0.0,0.02608,0.00000,0.00000,0.00069,0.00521,0.00000,0.00017
8,8,8,RRL9,RRL,0.0,0.14109,0.0,0.0,0.00400,6.45114,...,0.00079,0.06047,0.0,0.04017,0.00000,0.00116,0.00191,0.00493,0.00000,0.00000
9,9,9,RRL10,RRL,0.0,0.12601,0.0,0.0,0.00016,2.38119,...,0.00000,0.05606,0.0,0.02926,0.00000,0.00583,0.00085,0.00398,0.00000,0.00012
10,10,10,RRL11,RRL,0.0,0.15563,0.0,0.0,0.10175,3.97643,...,0.00054,0.07546,0.0,0.03284,0.00000,0.00036,0.00106,0.00400,0.00000,0.00000
11,11,11,RRL12,RRL,0.0,0.10769,0.0,0.0,0.15922,5.82162,...,0.00030,0.11119,0.0,0.05408,0.00000,0.00507,0.00193,0.00348,0.00000,0.00000
12,12,12,RRL13,RRL,0.0,0.12613,0.0,0.0,0.06208,3.06852,...,0.00012,0.05155,0.0,0.04187,0.00000,0.00670,0.00043,0.00429,0.00000,0.00013
13,13,13,RRL14,RRL,0.0,0.15278,0.0,0.0,0.08006,3.29641,...,0.00000,0.06026,0.0,0.04724,0.00000,0.00047,0.00111,0.00303,0.00000,0.00000
14,14,14,RRL15,RRL,0.0,0.10582,0.0,0.0,0.03861,3.69929,...,0.00000,0.02628,0.0,0.02917,0.00000,0.00038,0.00051,0.00291,0.00000,0.00000
15,15,15,RRL16,RRL,0.0,0.12800,0.0,0.0,0.05039,3.62825,...,0.00012,0.05724,0.0,0.01909,0.00000,0.00303,0.00031,0.00313,0.00000,0.00000
16,16,16,RRL17,RRL,0.0,0.15069,0.0,0.0,0.16964,5.44963,...,0.00040,0.06057,0.0,0.04673,0.00000,0.00085,0.00070,0.00558,0.00000,0.00000
17,17,17,RRL18,RRL,0.0,0.13260,0.0,0.0,0.00064,3.46605,...,0.00000,0.06663,0.0,0.02493,0.00000,0.00021,0.00105,0.00294,0.00000,0.00021
18,18,18,RRL19,RRL,0.0,0.13361,0.0,0.0,0.00000,3.42467,...,0.00025,0.03785,0.0,0.01910,0.00000,0.00024,0.00023,0.00309,0.00000,0.00000
19,19,19,RRL20,RRL,0.0,0.11440,0.0,0.0,0.11455,5.14588,...,0.00021,0.11988,0.0,0.02534,0.00000,0.00052,0.00114,0.00640,0.00000,0.00018
20,20,20,RRL21,RRL,0.0,0.14298,0.0,0.0,0.09905,3.11721,...,0.00033,0.06596,0.0,0.02172,0.00000,0.00032,0.00056,0.00246,0.00000,0.00026
21,21,21,RRL22,RRL,0.0,0.09317,0.0,0.0,0.08306,3.08142,...,0.00023,0.08316,0.0,0.02950,0.00000,0.00491,0.00055,0.00299,0.00000,0.00000
22,22,22,FRW1,FRW,0.0,0.16877,0.0,0.0,0.08961,4.63377,...,0.00012,0.01368,0.0,0.02100,0.00000,0.00087,0.00039,0.00321,0.00000,0.00018
23,23,23,FRW2,FRW,0.0,0.13897,0.0,0.0,0.00163,3.42432,...,0.00000,0.02790,0.0,0.01619,0.00000,0.00058,0.00026,0.00228,0.00000,0.00000
24,24,24,FRW3,FRW,0.0,0.12219,0.0,0.0,0.06111,2.87362,...,0.00025,0.01733,0.0,0.01934,0.00000,0.00011,0.00057,0.00234,0.00000,0.00000
25,25,25,FRW4,FRW,0.0,0.16718,0.0,0.0,0.05822,3.98016,...,0.00000,0.02771,0.0,0.01841,0.00000,0.00000,0.00037,0.00249,0.00000,0.00000
26,26,26,FRW 5,FRW,0.0,0.12511,0.0,0.0,0.05418,3.83156,...,0.00022,0.03503,0.0,0.02106,0.00000,0.00100,0.00053,0.00273,0.00000,0.00000
27,27,27,FRW6,FRW,0.0,0.14682,0.0,0.0,0.07568,3.83732,...,0.00023,0.01601,0.0,0.02699,0.00000,0.00000,0.00039,0.00265,0.00000,0.00011
28,28,28,FRW8,FRW,0.0,0.14752,0.0,0.0,0.06225,3.73230,...,0.00012,0.02350,0.0,0.01856,0.00000,0.00000,0.00060,0.00244,0.00000,0.00000
29,29,29,FRW9,FRW,0.0,0.08171,0.0,0.0,0.03008,3.26424,...,0.00000,0.02156,0.0,0.01764,0.00000,0.00029,0.00024,0.00162,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,160,160,LM17,LM,0.0,0.14536,0.0,0.0,0.05758,3.07861,...,0.00057,0.05078,0.0,0.01539,0.00000,0.00041,0.00047,0.00233,0.00000,0.00000
161,161,161,LM18,LM,0.0,0.17526,0.0,0.0,0.05612,3.02685,...,0.00057,0.06952,0.0,0.01938,0.00000,0.00027,0.00047,0.00292,0.00000,0.00016
162,162,162,LM19,LM,0.0,0.16653,0.0,0.0,0.05555,3.33856,...,0.00000,0.02339,0.0,0.01606,0.00000,0.00000,0.00056,0.00303,0.00000,0.00011
163,163,163,LM20,LM,0.0,0.16945,0.0,0.0,0.05507,2.94150,...,0.00059,0.02924,0.0,0.02004,0.00000,0.00062,0.00056,0.00276,0.00000,0.00000
164,164,164,LM21,LM,0.0,0.17071,0.0,0.0,0.03704,2.40038,...,0.00031,0.03990,0.0,0.01440,0.00000,0.00016,0.00045,0.00233,0.00000,0.00013
165,165,165,LM22,LM,0.0,0.19515,0.0,0.0,0.04271,2.90488,...,0.00017,0.01893,0.0,0.02546,0.00000,0.00051,0.00059,0.00281,0.00000,0.00047
166,166,166,LM23,LM,0.0,0.14935,0.0,0.0,0.00193,1.89188,...,0.00035,0.04042,0.0,0.01150,0.00000,0.00037,0.00053,0.00252,0.00000,0.00000
167,167,167,LM25,LM,0.0,0.16871,0.0,0.0,0.05727,3.26494,...,0.00000,0.01854,0.0,0.01883,0.00000,0.00064,0.00071,0.00302,0.00000,0.00000
168,168,168,SLG21,SLG,0.0,0.08409,0.0,0.0,0.00073,1.87711,...,0.00000,0.02875,0.0,0.01670,0.00000,0.00041,0.00029,0.00185,0.00000,0.00023
169,169,169,LM28,LM,0.0,0.11860,0.0,0.0,0.02137,2.10213,...,0.00000,0.03006,0.0,0.01800,0.00000,0.00280,0.00056,0.00244,0.00000,0.00000
170,170,170,MKP1,MKP,0.0,0.17857,0.0,0.0,0.04420,2.27666,...,0.00036,0.03113,0.0,0.02362,0.00000,0.00036,0.00048,0.00231,0.00000,0.00000
171,171,171,MKP2,MKP,0.0,0.14815,0.0,0.0,0.03750,1.47981,...,0.00029,0.02647,0.0,0.02398,0.00000,0.00067,0.00072,0.00279,0.00000,0.00000
172,172,172,MKP3,MKP,0.0,0.15598,0.0,0.0,0.03712,1.44031,...,0.00013,0.03020,0.0,0.01793,0.00000,0.00069,0.00040,0.00223,0.00000,0.00000
173,173,173,MKP4,MKP,0.0,0.13561,0.0,0.0,0.02682,1.59838,...,0.00000,0.02266,0.0,0.01924,0.00000,0.00049,0.00037,0.00214,0.00000,0.00019
174,174,174,MKP5,MKP,0.0,0.18075,0.0,0.0,0.05861,2.81683,...,0.00000,0.02034,0.0,0.02288,0.00000,0.00115,0.00044,0.00297,0.00000,0.00013
175,175,175,MKP6,MKP,0.0,0.13411,0.0,0.0,0.02376,2.85870,...,0.00000,0.09641,0.0,0.01649,0.00000,0.00165,0.00039,0.00151,0.00000,0.00000
176,176,176,MKP7,MKP,0.0,0.12573,0.0,0.0,0.02044,1.94543,...,0.00024,0.01624,0.0,0.00803,0.00000,0.00022,0.00029,0.00142,0.00000,0.00000
177,177,177,MKP8,MKP,0.0,0.12258,0.0,0.0,0.00016,2.36878,...,0.00029,0.01272,0.0,0.01223,0.00000,0.00044,0.00032,0.00251,0.00000,0.00000
178,178,178,RF1,RF,0.0,0.15026,0.0,0.0,0.00000,3.38635,...,0.00039,0.03498,0.0,0.02157,0.00000,0.00000,0.00054,0.00346,0.00000,0.00000
179,179,179,RF2,RF,0.0,0.14774,0.0,0.0,0.07034,3.13025,...,0.00017,0.02065,0.0,0.01861,0.00000,0.00087,0.00055,0.00298,0.00000,0.00000
180,180,180,RF3,RF,0.0,0.13817,0.0,0.0,0.03906,2.24964,...,0.00000,0.02549,0.0,0.01696,0.00000,0.00017,0.00024,0.00255,0.00000,0.00019
181,181,181,RF4,RF,0.0,0.17599,0.0,0.0,0.04157,2.87788,...,0.00000,0.02415,0.0,0.01856,0.00000,0.00025,0.00037,0.00217,0.00000,0.00000
182,182,182,RF5,RF,0.0,0.12646,0.0,0.0,0.00197,1.73207,...,0.00015,0.02590,0.0,0.01651,0.00000,0.00230,0.00012,0.00198,0.00000,0.00000
183,183,183,RF6,RF,0.0,0.00000,0.0,0.0,0.00000,5.71398,...,0.00000,0.05019,0.0,0.33307,0.00000,0.00000,0.00000,0.01156,0.00017,0.00000
184,184,184,RF7,RF,0.0,0.00000,0.0,0.0,0.00000,8.62726,...,0.00000,0.02591,0.0,0.03955,0.00000,0.03377,0.00000,0.00346,0.00012,0.00000
185,185,185,RF8,RF,0.0,0.10884,0.0,0.0,0.00081,1.75697,...,0.00017,0.02565,0.0,0.01562,0.00000,0.00234,0.00032,0.00206,0.00000,0.00000
186,186,186,RF9,RF,0.0,0.15341,0.0,0.0,0.05259,3.21738,...,0.00015,0.05669,0.0,0.01868,0.00000,0.00743,0.00046,0.00390,0.00000,0.00034
187,187,187,RF10,RF,0.0,0.16476,0.0,0.0,0.02670,1.78896,...,0.00018,0.01342,0.0,0.02247,0.00000,0.00034,0.00024,0.00181,0.00000,0.00000
188,188,188,RF11,RF,0.0,0.13096,0.0,0.0,0.00000,2.65974,...,0.00000,0.01096,0.0,0.01442,0.00000,0.00051,0.00040,0.00275,0.00000,0.00000
189,189,189,RF12,RF,0.0,0.17623,0.0,0.0,0.08471,1.45164,...,0.00010,0.03698,0.0,0.02967,0.00000,0.00027,0.00044,0.00200,0.00000,0.00000