In [3]:
import pandas as pd
import numpy as np
import sqlite3
from useful_functions import *

In [4]:
tables_to_join = ["tSoilNutrients", "tSample"]
common_column = "sample_id"
full_df = import_all_data(tables_to_join, common_column)
full_df.head()

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron,sample_id,site_id,collect_date
0,BLDTT0,4.3,124.0,8.1,6.8,6.91,18.0,180.0,1193.0,178.0,3.0,7.0,2.3,321.0,78.0,1.5,0.5,BLDTT0,BLD,6/29/2020
1,BLDTT1,4.8,132.0,9.5,6.8,6.90,14.0,158.0,1375.0,226.0,4.0,9.0,2.5,310.0,89.0,1.5,0.7,BLDTT1,BLD,6/29/2020
2,BLDTT2,4.9,135.0,9.0,6.8,6.90,15.0,177.0,1335.0,188.0,3.0,7.0,3.0,308.0,68.0,1.4,0.6,BLDTT2,BLD,6/29/2020
3,BLDTT3,5.6,147.0,10.2,7.0,6.93,16.0,249.0,1498.0,247.0,5.0,8.0,3.1,328.0,70.0,1.5,0.8,BLDTT3,BLD,6/29/2020
4,BLDTT4,5.4,145.0,9.1,6.9,6.92,13.0,143.0,1284.0,266.0,8.0,9.0,3.0,324.0,84.0,1.8,0.7,BLDTT4,BLD,6/29/2020

In [6]:
full_df.shape

(368, 20)

In [7]:
full_df.to_csv('soil_data.csv')